.widgetSm{
    flex:1;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    padding: 20px;
    margin-right: 20px;
}
.widgetSm-list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.widget-image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    object-fit: cover;
}
.widget-user{
    display: flex;
    flex-direction: column;
}
.widget-user span:last-child{
    color: gray;
}
.widet-icon{
    margin-right: 1rem;
}
.widget-btn{
    display: flex;
    align-items: center;
    padding: 0 1rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.widget-title{
    margin-bottom: 1rem;
}